.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0);
    color: white;
  
    &__icon {
      font-weight: 600;
      font-size: 2em;
  
      img {
        width: 110px;
        height: 40px;
      }
    }
    
  
    .navbar {
      display: flex;
      align-items: center;
      font-family: 'Ubuntu', sans-serif;
  
      &__ul {
        display: flex;
      }
  
      &__li {
        list-style: none;
        margin: 10px;
      }
  
      a {
        text-decoration: none;
        color: white;
        font-weight: 600;
      }

      &__fastlinks {
        align-items: center;
        display: flex;

        a {
          padding: 5px;
          font-size: 1.2rem;
        }
      }
    }
  }