.main {
    height: 800px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.93);

    .home {
        height: 78%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__content {
            height: 70vh;
            padding-left: 60px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            color: white;

            h4 {
                font-size: 5em;
            }

            h2 {
                font-size: 7em;
            }

            p {
                font-size: 1.3em;
            }
        }

        &__arrow {
            display: flex;
            justify-content: center;

            span {
                width: 10px;
                height: 40px;
                border-radius: 6px;
                background-color: white;
                margin: 6px;
                animation: arrowMovement 1.1s infinite ease-in-out;
            }

            span:nth-of-type(1) {
                transform: rotate(-45deg);
            }

            span:nth-of-type(2) {
                transform: rotate(45deg);
            }
        }
    }
}