* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

// Helper

@import "./helper/arrowMovement.scss";
@import "./helper/mixins.scss";

// Sections

@import "./sections/header.scss";
@import "./sections/main.scss";
@import "./sections/about.scss";
@import "./sections/quality.scss";
@import "./sections/coffee.scss";
@import "./sections/reviews.scss";
@import "./sections/bakery.scss";
@import "./sections/menu.scss";
@import "./sections/gallery.scss";