@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.ul-navbar li {
  list-style: none;
  margin: 18px;
  font-size: 1.1rem;
}

.ul-navbar li a {
  text-decoration: none;
  font-weight: 600;
}

/* .fastlinks a {
  padding: 5px;
  font-size: 1.2rem;
} */

.fa-star,
.fa-star-half-stroke {
  color: rgba(255, 255, 0, 0.993);
}

.bakery-table td {
  font-size: 1.4em;
  padding-bottom: 15px;
  width: 280px;
}